/* Venda.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2; /* Cor de fundo cinza claro */
}

nav {
  background-color: #3498db; /* Cor de fundo azul */
  padding: 20px;
  color: #fff; /* Cor do texto branco */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 1.8em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* Cor do texto branco */
  font-weight: bold;
  font-size: 1.2em;
}

.venda-content {
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* Cor de fundo branco */
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra mais perceptível */
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.3em;
  color: #555; /* Cor do texto cinza escuro */
}

select {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Cor da borda cinza claro */
  border-radius: 5px;
  font-size: 1.2em;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333; /* Cor do texto cinza escuro */
}

h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #333; /* Cor do texto cinza escuro */
}

p {
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #333; /* Cor do texto cinza escuro */
}

input[type="number"] {
  padding: 12px;
  border: 1px solid #ccc; /* Cor da borda cinza claro */
  border-radius: 5px;
  font-size: 1.2em;
}

button {
  background-color: #3498db; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9; /* Cor de fundo azul mais escura no hover */
}
