/* Home.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2; /* Cor de fundo cinza claro */
}

.sidemenu {
  background-color: #3498db; /* Cor de fundo azul */
  height: 100vh; /* 100% da altura da viewport */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidemenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidemenu li {
  margin-bottom: 20px;
}

.sidemenu li a {
  text-decoration: none;
  color: #fff; /* Cor do texto branco */
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

.sidemenu li a:hover {
  color: #ecf0f1; /* Cor do texto branco mais claro no hover */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Isso mantém a proporção da imagem */
}