/* Sidebar.css */

.Sidebar {
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 20px;
    width: 200px;
  }
  
  .Sidebar h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .Sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Sidebar li {
    margin-bottom: 10px;
  }
  
  .Sidebar a {
    text-decoration: none;
    color: #fff; /* Cor do texto branco */
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
  }
  
  .Sidebar a:hover {
    color: #ecf0f1; /* Cor do texto branco mais claro no hover */
  }
  